<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card chat-app">
        <div id="plist" class="people-list">
          <div class="input-group">
            <div class="input-group-prepend">
              <h3>Webex Rooms</h3>
            </div>
          </div>
          <ul class="list-unstyled chat-list mt-2 mb-0">
            <li class="clearfix">
              <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="roomName" (keyup.enter)="createRoom()"
                  placeholder="Enter title here...">
                <div class="input-group-append">
                  <button class="btn btn-secondary" (click)="createRoom()" type="button">Create Room</button>
                </div>
              </div>
            </li>
            <ng-container *ngIf="{rooms: rooms$ | async, selectedRoom: selectedRoom$ | async} as list">
              <ng-container *ngIf="list.rooms && list.selectedRoom">
                <ng-container *ngFor="let room of list.rooms; let i = index">
                  <li class="clearfix" [ngClass]="room.id == list.selectedRoom.id ? 'active' : ''"
                    (click)="selectRoom(room)">
                    <!-- <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar"> -->
                    <div class="about">
                      <div class="name">{{room.title}}</div>
                      <div class="status"> <i class="fa fa-circle offline"></i> {{ room.lastActivity | timeago:true }}
                      </div>
                    </div>
                  </li>
                </ng-container>
              </ng-container>
            </ng-container>
            <!-- <li class="clearfix">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                <div class="about">
                  <div class="name">Vincent Porter</div>
                  <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>
                </div>
              </li>
              <li class="clearfix active">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                <div class="about">
                  <div class="name">Aiden Chavez</div>
                  <div class="status"> <i class="fa fa-circle online"></i> online </div>
                </div>
              </li>
              <li class="clearfix">
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
                <div class="about">
                  <div class="name">Mike Thomas</div>
                  <div class="status"> <i class="fa fa-circle online"></i> online </div>
                </div>
              </li>
              <li class="clearfix">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                <div class="about">
                  <div class="name">Christian Kelly</div>
                  <div class="status"> <i class="fa fa-circle offline"></i> left 10 hours ago </div>
                </div>
              </li>
              <li class="clearfix">
                <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="avatar">
                <div class="about">
                  <div class="name">Monica Ward</div>
                  <div class="status"> <i class="fa fa-circle online"></i> online </div>
                </div>
              </li>
              <li class="clearfix">
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
                <div class="about">
                  <div class="name">Dean Henry</div>
                  <div class="status"> <i class="fa fa-circle offline"></i> offline since Oct 28 </div>
                </div>
              </li>-->
          </ul>
        </div>
        <app-messages></app-messages>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isLoading$ | async" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>